@media screen and (min-width: 375px) and (max-width: 1200px) {
    *{
        margin: 0;
        padding: 0;
    }

    body{
        font-family: var(--fonte);
        height: auto;
        width: auto;
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: auto;
    }

    header{
        display: flex; 
        padding-top: 10px; 
        width: 100%;    
    }

    .imgs-header{
        display: flex;
        gap: 230px;
    }

    .nav-desktop{
        display: none;
    }

    .nav-mobile{
        visibility: hidden;
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        padding: 10px 30px 30px 30px;
        height: 100%;
        width: 55%;
        background-color: hsl(36, 100%, 99%);
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
        z-index: 99;
    }

    .menu-wrapper {
        visibility: hidden;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
    
        position: absolute;
        top: 0;
        left: 0;
        z-index: 99;
    }

    .nav-mobile img{
        width: 30px;
        height: 30px;
        position: absolute;
        padding-right: 10px;
        right: 0;
    }

    .nav-mobile__items{
        display: flex;
        flex-direction: column;
        padding-top: 100px;
        gap: 30px;
    }

    .nav-mobile__items li a{
        font-weight: 700;
        color:hsl(240, 100%, 5%);
    }

    .imagem{
        display: none;
    }

    .img-mobile{
        display: flex;
        width: 100%;
    }

    .botao-menu{
        display: block;
    }

    .botao-menu img{
        width: 50px;
    }

    .container-principal {
        width: auto;
        display: flex;
        align-items: center;
        justify-content: left;
    }

    .container-principal__news{
        display: flex;
        flex-direction: column;
        gap: 6px;
        width: auto;
        height: auto;
        padding-bottom: 50px;
    }

    .container-principal__news p{
        padding-bottom: 20px;
    }


    h1{
        font-size: 2.5rem;
        font-weight: 800;
    }

    .container-aside{
        width: 300px;
        height: 450px;
    }

    .container-footer{
        display: flex;
        flex-direction: column;
        width: auto;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .footer-news{
        width: auto;
    }
}